---
import { translations } from '../../i18n/translations';

type SupportedLanguages = keyof typeof translations;
const { lang = 'es' } = Astro.props;
const t = translations[lang as SupportedLanguages];
---

<section class="section-dress-code">
  <div class="content fade-in">
    <h2>{t['dresscode.title']}</h2>

    <div class="dress-code-container">
      <div class="dress-code-icons">
        <div class="text-item">
          <h3>{t['dresscode.formal']}</h3>
          <p class="dress-code-description">{t['dresscode.description']}</p>
        </div>
        <div class="icon-row">
          <div class="text-item">
            <p class="dress-code-description"></p>
          </div>
          <div class="icon-item">
            <div class="dress-icon">
              <img src="/images/dress2.svg" alt={t['dresscode.dress.alt']} />
            </div>
          </div>          
          <div class="icon-item">
            <div class="suit-icon">
              <img src="/images/suit2.svg" alt={t['dresscode.suit.alt']} />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .section-dress-code {
    height: 100vh;
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h2 {
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    text-align: center;
  }

  .dress-code-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .dress-code-icons {
    width: 100%;
  }

  .icon-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding-bottom: 15rem;
  }

  .text-item {
    order: -1;
    padding-bottom: 1rem;
    white-space: pre-wrap;
  }

  .icon-item {
    position: absolute;
  }

  .suit-icon img {
    z-index: -2;
    position: absolute;
    top: 0;
    left: -1rem;
    width: 20rem;
  }
  .dress-icon img {
    z-index: -1;
    position: absolute;
    top: 0;
    right: -9rem;
    width: 30rem;
  }

  .dress-icon img:hover {
    /*filter: invert(24%) sepia(85%) saturate(1548%) hue-rotate(328deg) brightness(87%) contrast(97%);*/
  }

  .suit-icon img:hover {
    /*filter: invert(27%) sepia(34%) saturate(797%) hue-rotate(118deg) brightness(92%) contrast(89%);*/
  }


  h3 {
    font-size: 2rem;
    color: #333;
    font-family: 'Italiana', serif;
  }

  .dress-code-description {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    color: var(--text-color);
    /*font-family: 'Italiana', serif;*/
    
  }

  /* Media queries para tablets y escritorio */
  @media (min-width: 768px) {
    .section-dress-code {
      padding: 3rem 2rem;
      height: 100vh;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }

    .icon-row {
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
    }

    .text-item {
      order: 0;
      margin-bottom: 0;
    }

    .icon-item {
      max-width: 180px;      
    }

    h3 {
      font-size: 2.2rem;
    }

    .dress-code-description {
      font-size: 1rem;
    }

    .suit-icon img {
      z-index: -1;
      position: absolute;
      top: -10rem;
      left: 3rem;
      width: 30rem;
    }
    .dress-icon img {
      z-index: -1;
      position: absolute;
      top: -10rem;
      right: -3rem;
      width: 40rem;
    }
  }

  @media (min-width: 1024px) {
    .section-dress-code {
      height: 100vh;
    }

    h2 {
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    .icon-row {
      gap: 5rem;
    }

    .icon-item {
      max-width: 220px;
    }

    h3 {
      font-size: 2.5rem;
    }

    .dress-code-descriptions {
      visibility: hidden;
    }

    .dress-code-description {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }

    .suit-icon img {
      z-index: -1;
      position: absolute;
      top: -20rem;
      left: 15rem;
      width: 40rem;
    }
    .dress-icon img {
      z-index: -1;
      position: absolute;
      top: -20rem;
      right: 10rem;
      width: 50rem;
    }
  }
</style>