---
import ScrollArrow from './../ScrollArrow.astro';
import { translations } from '../../i18n/translations';

type SupportedLanguages = keyof typeof translations;
const { lang = 'es' } = Astro.props;
const t = translations[lang as SupportedLanguages];
---

<section class="section section-main" id="inicio">
  <div class="content fade-in">
    <h1>Luard <span class="ampersand">&</span> Nataly</h1>
    <div class="photo-container">
        <video 
        autoplay 
        loop 
        muted 
        poster="/images/couple.png"
        preload="auto"
        playsinline
        class="video-bg"
      >
        <source src="/videos/couple.webm" type="video/webm">
        <img src="/images/couple.png" alt="Nataly & Luard" class="video-bg">
      </video>

      <!--<img src="/couple.png" alt="Nataly & Luard" />-->
    </div>
    <p class="date">
        <span class="plus">11</span>
        <span class="subdate"> de </span>
        <span class="plus">{t['date.month']}</span>
        <span class="subdate">,</span>
        <span class="plus"> 2025</span></p>
    <!--
        <a href="#rsvp" class="button">
            {t['rsvp.button']}
        </a>
     -->
  </div>
  <a href="#informacion"><ScrollArrow /></a>
</section>

<style>
  .section-main {
    background-color: var(--background-color);
    text-align: center;
    position: relative;
  }

  .photo-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 2rem;
    border: 5px solid var(--primary-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: url('/images/couple.png');
    background-size: cover;
    background-position: center 25%;
    transform: scale(1.2);
  }

  .photo-container:hover {
    transform: scale(1.45);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
  }

  .ampersand {
    margin: 0 1.5rem;
    font-size: 4.5rem;
    color: var(--primary-color);
  }

  .subdate {
    color: var(--primary-color);
  }

  .date {
    font-size: 1.7rem;
    margin-bottom: 3rem;
    font-family: 'Great Vibes', cursive;
    color: var(--text-color);
    opacity: 0.9;
    letter-spacing: 1px;
  }

  .date .plus {
    font-size: 3rem;
    color: var(--secondary-color);
    font-weight: 600;
    opacity: 1;
    margin: 0 0.5rem;
  }

  @media (max-width: 768px) {
    .photo-container {
      width: 200px;
      height: 200px;
    }

    h1 {
      font-size: 2.5rem;
    }

    .ampersand {
      margin: 0 1rem;
      font-size: 3rem;
    }

    .date .plus {
      font-size: 2.2rem;
    }
  }
</style>

