---
import { translations } from '../../i18n/translations';

type SupportedLanguages = keyof typeof translations;
const { lang = 'es' } = Astro.props;
const t = translations[lang as SupportedLanguages];
---

<section class="section-location">
  <div class="content fade-in">
    <h2>{t['info.title']}</h2>
    <div class="info-container">
      <div class="info-text">
        <p>
          <span class="icon-label">
            <span class="icon">
              🗓️
              <!--<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 2V5M16 2V5M3.5 9.09H20.5M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            -->
            </span>
            <strong>{t['info.date.label']}:</strong>
          </span>
          <span>
            <a href={t['calendar.appointment'] || 'https://calendar.google.com/calendar/render?action=TEMPLATE&text=Bodorrio%202025:%20Luard%20y%20Nataly&dates=20250911T173000/20250912T030000&location=Masia%20Piguillem,%20Carretera%20C-37,%20km.%20163,%2008572%20Sant%20Andreu%20de%20la%20Vola,%20Barcelona&details=¡Te%20esperamos%20en%20nuestra%20boda!'} target="_blank" class="calendar-link">
              <strong>{t['info.date.value']}<br><span class="tooltip">[{t['tooltip.calendar']} 🗓️ ]</span></strong>
            </a>
          </span>
        </p>
        <p>
          <span class="icon-label">
            <span class="icon">
              🕠
              <!--<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 8V13M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
               -->
            </span>
            <strong>{t['info.time.label']}:</strong>
          </span>
          <span>{t['location.time']}</span>
        </p>
  
        <p>
          <span class="icon-label">
            <span class="icon">
              📍
              <!--<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 22H22M12 2C15.87 2 19 5.13 19 9C19 13.17 14.58 15.92 12.14 21.02C12.06 21.19 11.94 21.19 11.86 21.02C9.42 15.92 5 13.17 5 9C5 5.13 8.13 2 12 2Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
               -->
            </span>
            <strong>{t['info.location.label']}:</strong>
          </span>
          <a href="https://maps.google.com/?q=Masia+Piguillem,+Carretera+C-37,+km.+163,+08572+Sant+Andreu+de+la+Vola,+Barcelona" target="_blank" class="maps-link">
            <span><strong>{t['location.venue']}<br><span class="tooltip">[{t['tooltip.location']} 📍 ]</span></strong></span>
            
          </a>
        </p>
  
        <!--
        <p>
          <span class="icon-label">
            <span class="icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 9.08V14.92C22 15.89 21.96 16.73 21.86 17.45C21.62 19.14 20.9 20.04 19.55 20.18C19.06 20.24 18.48 20.26 17.81 20.26H6.19C5.52 20.26 4.94 20.24 4.45 20.18C3.1 20.04 2.38 19.14 2.14 17.45C2.04 16.73 2 15.89 2 14.92V9.08C2 8.11 2.04 7.27 2.14 6.55C2.38 4.86 3.1 3.96 4.45 3.82C4.94 3.76 5.52 3.74 6.19 3.74H17.81C18.48 3.74 19.06 3.76 19.55 3.82C20.9 3.96 21.62 4.86 21.86 6.55C21.96 7.27 22 8.11 22 9.08Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 15L8 9H16L12 15Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            <strong>{t['info.address.label']}:</strong>
          </span>
          <span>
              
          </span>
        </p>
         -->
      </div>
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2960.8551958375688!2d2.3548370767681566!3d42.08915197121938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a531a3dedb15ef%3A0x2f2255c636f7e16d!2sMasia%20Piguillem%20Restaurant%20%26%20Events!5e0!3m2!1sen!2ses!4v1741340248345!5m2!1sen!2ses"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</section>

<style>
  .section-location {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }

  h2 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: var(--secondary-color);
    text-align: center;
  }

  span {
    white-space: pre-wrap;
  }

  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    vertical-align: baseline;
  }

  .info-text {
    padding: 2rem;
    vertical-align: baseline;
  }

  .info-text p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.2rem;
    align-items: start;
  }

  .info-text p span .tooltip {
    display: flex;
    justify-content: right;
  }

  .icon-label {
    display: flex;
    align-items: flex-start; 
    gap: 0.75rem;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    opacity: 0.9;
  }

  .icon svg {
    width: 22px;
    height: 22px;
    stroke-width: 1.2;
  }

  strong {
    color: var(--secondary-color);
  }

  .map-container {
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
  }

  .calendar-link, .maps-link {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
  }

  .calendar-link:hover, .maps-link:hover {
    color: var(--primary-color);
  }

  .tooltip {
    font-size: 0.7rem;
  }

  @media (max-width: 768px) {
    .map-container {
      display: none;
    }

    .info-container {
      grid-template-columns: 1fr;
    }

    h2 {
      font-size: 2rem;
    }

    .info-text {
      padding: 0.5rem;
    }

    .info-text p {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      padding-bottom: 1rem;
    }
  }
</style>