---
import Layout from '../layouts/Layout.astro';
import { defaultLang } from '../i18n/translations';
---
<Layout>
  <main>
  </main>
</Layout>

<style>
  main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
  }
</style>
